body{
    background-color:#BAA892 ;
    margin: 0%;
}

@media( max-width:900px){
    .foto{
        flex-direction: column;
    }
.imagen {
        max-width: 140%;
    }    
}

@media( max-width:450px)  {

    .datospersonales{
        padding-left: 10px;
        padding-right: 20px;
        font-size: 19px;
        font-family: cursive;
    }

    nav{
        flex-direction: column;
        padding: 8%;
    }
} 

    


header{
    background-color: #725B49 ;
    border-style: solid;
    border-radius: 20px;
    font-size: 25px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
    
}

a :hover{
    color:white;
}

.foto{
    display: flex;
    align-items: center;
    margin: 40px;
    
}


.imagen{
    height: 300px;
    width: 300px;
    border-radius: 400px;
}

.texto{
        margin-left: 20px;
        font-size: 20px;
        text-align: left;
        font-family: cursive
        }

.titulo{
    text-align: center
}

.pie_de_pagina{
    padding-top: 0.3rem;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

section{
    margin: 50px;
    border-style: solid;
    border-radius: 20px;
    background:  #8D6E5F ;
}

.uade{
    height: 100px;
}
